* {
    padding: 10;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

nav {
    width: 100%;
    background: #05f173;

    height: 80px
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(253, 252, 252);
    font-size: 17px;
    padding: 7px 30px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: rgb(8, 8, 8);
}

.heading {
    text-decoration: underline;
    padding: 50px;
    padding-left: 800px;
    color: rgb(227, 13, 95);
}

.back {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    opacity: 30%;
    position: absolute;
}

.card {
    display: flex;
    flex-direction: row;
    width: 400px;
    text-align: center;
    margin: 5%;
    margin-top: 50px;

    border: 1px solid #d4d4d4;
    position: relative;


}

.react {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.js {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.js {
    width: 400px;
    padding: -5px;
}




.card img {
    width: 400px;
    height: 200px;
}

.container {
    padding: 10px;
}

.card h3 {
    font-size: 20px;
    margin: auto;

}

.card:hover {
    box-shadow: 4px 8px 10px rgb(14, 14, 14)
}


/* .radiant{
    width: 300px;
    height: 300px;
     
    background: radial-gradient(red, red, yellow, white 150px);
}
.sun{
    padding: auto;
} */

.card-box {
    display: flex;
}

.box {
    display: flex;
}

.footer {
    padding: 0;
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: rgb(11, 11, 11);
    color: rgb(35, 254, 6);
    display: flex;
}

.footer div {
    text-align: center;


}

.col-2 {
    flex-grow: 2px;
    margin-left: 150px;

}

.text {
    margin-left: 100px;
    color: rgb(35, 254, 6);
    margin-right: -400px;
    margin-top: -20px;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #f00909;
    margin-bottom: 10px;

}

form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

.contact {
    margin-left: 400px;
    margin-top: -30px;
    text-align: center;
    color: rgb(35, 254, 6);
}

.pera {
    margin-left: -80px;
    color: #f00909;
}

.social-icon {
    margin-top: 50px;
    margin-left: -120px;

}

.social-icon i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    color: white;
}
.button{
    border: none;
    border-radius: 5px;
    background: red;
}